In [1]:
#Importing all the required libraries
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from matplotlib.colors import ListedColormap
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error
from collections import Counter
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

In [2]:
#Downloading the dataset, creating dataframe
df = pd.read_excel("Data_Gen_Exp1_7.xlsx")
df1 = df.drop(['labels'], axis=1)
df1

       Mean 060 (°C)  Mean 260 (°C)  54: TC_Smoke (°C)  187: CO_room (ppm)
0          10.116304      15.652686           8.613041          695.565623
1          10.113530      15.654990           8.614577          693.682888
2          10.104086      15.644093           8.612079          686.368593
3          10.104755      15.641486           8.603408          690.206866
4          10.635325      16.096699           8.608649          704.980179
...              ...            ...                ...                 ...
11754      20.342315      46.505137           7.462685          871.181054
11755      20.331191      46.365734           7.451435          864.518459
11756      20.346706      46.310816           7.443393          860.245573
11757      20.311691      46.388668           7.438120          859.086899
11758      20.260156      46.468133           7.435278          873.570764

[11759 rows x 4 columns]

In [3]:
# Separating data & target information
X = df1.drop(['Mean 260 (°C)'], axis=1)
#X = df['060 (°C)']
y = df1['Mean 260 (°C)']

X = np.array(X)
y = np.array(y)

In [4]:
#Split dataset into training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1, shuffle=True)

print('Training Features Shape:', X_train.shape)
print('Training Labels Shape:', y_train.shape)
print('Testing Features Shape:', X_test.shape)
print('Testing Labels Shape:', y_test.shape)

Training Features Shape: (9407, 3)
Training Labels Shape: (9407,)
Testing Features Shape: (2352, 3)
Testing Labels Shape: (2352,)

In [5]:
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
# Train the model on training data
model=rf.fit(X_train, y_train);

In [6]:
# Use the forest's predict method on the test data
predictions = model.predict(X_test)
# Calculate the absolute errors
errors = abs(predictions - y_test)

In [7]:
def mean_absolute_percentage_error(y_test, predictions):
    y_test, predictions = np.array(y_test), np.array(predictions)
    return np.mean(np.abs((y_test - predictions) / y_test)) * 100

y_test = np.array(y_test)
predictions = model.predict(X_test)
mape = mean_absolute_percentage_error(y_test, predictions)

In [8]:
mse=mean_squared_error(y_test, predictions, squared=True)
rmse=mean_squared_error(y_test, predictions, squared=False)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')
print('Mean Absolute Percentage Error:', np.mean(mape))
print('Mean squared error:', mse)
print('Root Mean squared error:', rmse)

Mean Absolute Error: 8.22 degrees.
Mean Absolute Percentage Error: 6.810500637199174
Mean squared error: 697.0139461018147
Root Mean squared error: 26.401021686703995

In [9]:
mlr_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': predictions})
mlr_diff.head(50)

    Actual value  Predicted value
0     207.872934       212.989178
1     305.667734       305.604924
2      61.811142        61.282542
3     412.179719       405.261881
4      14.518864        14.762478
5      59.059941        61.521684
6     203.712291       196.450208
7     624.425182       624.933001
8     781.329852       789.013201
9     475.594461       478.840969
10    704.188331       707.433486
11    146.509918       156.864218
12    622.192916       632.054071
13    322.710063       320.992771
14     45.413877        46.288480
15     92.434426        86.101197
16    522.690289       527.896790
17   1095.317731      1095.873235
18    390.038161       385.356645
19    728.363399       725.395608
20    291.172998       291.456384
21   1064.580371      1048.386846
22    302.116297       301.658046
23    856.439300       809.297461
24   1062.026223      1061.230884
25     14.731713        14.830696
26    328.358541       327.606666
27    168.421558       166.115221
28    869.163735       868.330566
29    336.387323       335.334038
30    205.133074       205.880999
31    563.682267       569.585837
32    142.005208       102.256974
33     16.103638        28.771015
34     35.210058        37.765658
35     75.611297        78.015651
36   1042.701689      1046.922247
37    382.086358       368.799599
38    337.341235       336.820046
39     36.494682        36.559913
40     13.485863        13.540496
41    647.705125       647.324468
42    437.028939       430.276415
43    994.594530       995.152191
44    805.830249       807.156581
45    433.927437       438.219696
46    957.607813       957.104321
47    382.086358       382.086358
48    324.925529       326.193163
49     59.476041        57.305330

In [10]:
arima_input=model.predict(X)
print(arima_input)

[14.84192148 15.10684335 15.61507497 ... 47.16884242 47.98582116
 47.72544563]

In [11]:
new_df= pd.DataFrame(arima_input)
new_df
#save to excel
new_df.to_excel("Test_data1.xlsx", index=False)

In [14]:
df2 = pd.read_excel("Test_data1.xlsx")
df2.head()

   Predicted     Actual
0  14.841921  15.652686
1  15.106843  15.654990
2  15.615075  15.644093
3  15.615608  15.641486
4  17.408530  16.096699

In [15]:
y_test = df2['Actual']
predictions = df2['Predicted']

In [16]:
def mean_absolute_percentage_error(y_test, predictions):
    y_test, predictions = np.array(y_test), np.array(predictions)
    return np.mean(np.abs((y_test - predictions) / y_test)) * 100

y_test = np.array(y_test)
predictions = df2['Predicted']
mape = mean_absolute_percentage_error(y_test, predictions)

In [17]:
mse=mean_squared_error(y_test, predictions, squared=True)
rmse=mean_squared_error(y_test, predictions, squared=False)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')
print('Mean Absolute Percentage Error:', np.mean(mape))
print('Mean squared error:', mse)
print('Root Mean squared error:', rmse)

Mean Absolute Error: 8.22 degrees.
Mean Absolute Percentage Error: 12.586745233333069
Mean squared error: 208.01417873912558
Root Mean squared error: 14.422696652815159

In [18]:
score=r2_score(y_test,predictions)
print('r2 score is ',score)

r2 score is  0.9979343197588503